*{
    padding: 0;
    margin: 0;
}

header{
    
    background:linear-gradient(to left,brown,darkred);
    border: 2px solid red;
    font-family: 'Secular One', sans-serif;
    position: sticky;
    
}
nav{
    display: flex;
   
}
.logo{
     display: flex;
     align-items: center;
    
}
.logo img{
    width: 140px;
    padding: 0 40px;
}
.search{
    display: flex;
    align-items: center;
}
.search input{

    width: 450px;
    height: 4vh;
    border-radius: 5px;
}

p{
    margin-right: 20px;
    font-size: 22px ;
    color: black;
}
.btnn{
    display: flex;
    align-items: center;
}
.btn{
    width: 60px;
    height: 3.5vh;
    font-weight: bold;
    background-color: black;
    color: beige;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 6px;
    font-family: 'Secular One', sans-serif;

}
.btn:hover{
     background-color:white;
     color:black;
     cursor: pointer;
}
.log-in{
       background-color: white;
       color: black;
       cursor: pointer;
       height: 4vh;
       width: 5vw;
       font-family: 'Secular One', sans-serif;
       
}
.log-in:hover{
    background-color: black;
    color: wheat;
    
}
nav ul{
    height: 13vh;
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    padding: 0 30px;
}
nav ul li a{
    color: wheat;
    text-decoration: none;
}
nav ul li a:hover{
    color: black;
    font-weight:bold;
    
}

.container{
    min-height: calc(100vh - 10vh - 13vh);
}
.slider{
    margin: auto;
    width: 90vw;
    margin-top: 10px;
}
.slider img{
    width: 90vw;
    height: 60vh;
    border: 2px solid wheat;
    border-radius: 9px;
    
}
 .side img{
    height: 9vh;
    padding: 25px 100px;
    
} 
.card{
    max-width: 91vw;
    margin: auto;

}
.card h2{

    font-family: 'Secular One', sans-serif;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 10px;
}
.card-item img{
    width: 400px;
    height: 250px;
}
.card-item :hover{
    background-color: #b8d4de;
    transition: 0.4s ease;
}

