.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text-center{
    text-align: center;
}
.my-2{
    margin-top: 20px;
    padding-left: 120px;
    margin-bottom: 4px;

}
.my-1{
    margin: 5px 0;
}